
<div style="text-align: center; width: 700px; margin: 0 auto; font-family: 'Arial', sans-serif;">
	<table width="700" align="center" style="width: 700px; background-color: #fff;" cellspacing="0" cellpadding="10"
		border="0">
		<tr>
			<td width="700">

				<table>
					<tr>
						<td>
							{{#if email.link_topo}}
								<a href="{{{redirect_base}}}/redirect/{{ email._id }}?url={{ email.link_topo }}" target="_blank">
							{{/if}}

									<img width="700" src="{{{ public_cdn }}}/templates/{{{ email.topo }}}">
									
							{{#if email.link_topo}}
								</a>
							{{/if}}
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td>
							
							{{#if email.link_topo_adicional}}
							<a href="{{{ email.link_topo_adicional }}}" target="_blank">
							{{/if}}

								{{#if email.imagem_topo_adicional }}

									{{#if render_production }}
									<img width="700" src="{{{ public_cdn }}}/emails/{{{ email.imagem_topo_adicional }}}" />
									{{else}}
									<img width="700" src="{{{ email.imagem_topo_adicional }}}" />
									{{/if}}

								{{/if}}

							{{#if email.link_topo_adicional}}
							</a>
							{{/if}}
							
						</td>
					</tr>
				</table>

				<table style="color: #666;">
					<tr>
						<td width="700">

							{{#each email.produtos}}
							<table class="msoFix" style="height: 600px!important;" width="{{ this.col }}" cellspacing="0"
								cellpadding="0" align="left">
								<tr>
									
									<td width="{{ this.col }}" align="left"style="text-align: center;">
									{{!-- <td width="{{ this.col }}" align="left"style="padding-top: 20px; padding-bottom: 20px; text-align: center;"> --}}

										<div style="padding: 15px;">

											<a style="color: #666; text-decoration: none;" target="_blank" href="{{{../redirect_base}}}/redirect/{{ ../email._id }}?url={{ this.link }}">

												<img width="{{ this.col2 }}" src="{{ this.foto }}" alt="Camisa jeans com detalhe em tricot">
												
												<div style="text-align: center; margin-top: 20px; height: 70px; font-family: 'Arial'; padding-left: 10px; padding-right: 10px;">{{ this.nome }}</div>

												{{#if this.preco_desconto}}
												<div
													style="text-align: center; margin-top: 10px; font-family: 'Arial';">

													<b style="color: red;"><s>De R$ {{ this.preco }}</s></b>
												</div>
												{{/if}}

												{{#if this.preco_desconto}}
												<div style="text-align: center; font-family: 'Arial';">Por R$ <b>{{ this.preco_desconto }}</b></div>
												{{else}}
												<div style="text-align: center; font-family: 'Arial';">R$ <b>{{ this.preco }}</b></div>
												{{/if}}

												{{#if this.parcelas}}
													<small>Ou em até <b>{{this.parcelas}}x</b> de R$ <b>{{this.parcela_valor}}</b></small>
												{{/if}}

												<div style="margin-top: 15px;">

													<div style="text-align: center;">
														<a href="{{{../redirect_base}}}/redirect/{{ ../email._id }}?url={{ this.link }}" target="_blank">
															<img width="200" src="{{{ ../public_cdn }}}/templates/{{ ../email.botao }}" />
														</a>
													</div>
												</div>
											</a>
										</div>

									</td>

								</tr>
							</table>
							{{/each}}
							
						</td>
					</tr>
				</table>
				

				<table>
					<tr>
						<td>
							{{#if email.link_rodape_adicional}}
							<a href="{{{ email.link_rodape_adicional }}}" target="_blank">
							{{/if}}

								{{#if email.imagem_rodape_adicional }}

									{{#if render_production }}
									<img width="700" src="{{{ public_cdn }}}/emails/{{{ email.imagem_rodape_adicional }}}" />
									{{else}}
									<img width="700" src="{{{ email.imagem_rodape_adicional }}}" />
									{{/if}}

								{{/if}}

							{{#if email.link_rodape_adicional}}
							</a>
							{{/if}}
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td>
							{{#if email.link_rodape}}
								<a href="{{{redirect_base}}}/redirect/{{ email._id }}?url={{ email.link_rodape }}" target="_blank">
							{{/if}}

									<img width="700" src="{{{ public_cdn }}}/templates/{{{ email.rodape }}}">
									
							{{#if email.link_rodape}}
								</a>
							{{/if}}
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td align="center"
							style="padding-top: 27px; font-size: 14px; color: #666666; text-align: center; padding-bottom: 20px;">
							<div style="width: 700px; margin: 0 auto;">

								{{#if email.facebook}}
								<a target="_blank" style="text-decoration: none; width:70px;" href="{{{email.facebook}}}">
									<img width="20" style="width: 20px; margin-right: 15px;" src="https://spaces.adxstore.com.br/adxmail_v2/assets/facebook.png" />
								</a>
								{{/if}}

								{{#if email.instagram}}
								<a target="_blank" style="text-decoration: none; width:70px;" href="{{{email.instagram}}}">
									<img width="20" style="width: 20px; margin-right: 15px;" src="https://spaces.adxstore.com.br/adxmail_v2/assets/instagram.png" />
								</a>
								{{/if}}

								{{#if email.youtube}}
								<a target="_blank" style="text-decoration: none; width:70px;" href="{{{email.youtube}}}">
									<img width="20" style="width: 20px; margin-right: 15px;" src="https://spaces.adxstore.com.br/adxmail_v2/assets/youtube.png" />
								</a>
								{{/if}}

								{{#if email.tiktok}}
								<a target="_blank" style="text-decoration: none; width:70px;" href="{{{email.tiktok}}}">
									<img width="20" style="width: 20px; margin-right: 15px;" src="https://spaces.adxstore.com.br/adxmail_v2/assets/tiktok.png" />
								</a>
								{{/if}}

							</div>

						</td>
					</tr>
				</table>


			</td>
		</tr>
	</table>
</div>